In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv("./data.csv")

In [4]:
data

,trip_id,year,month,week,day,hour,usertype,gender,starttime,stoptime,...,from_station_id,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_id,to_station_name,latitude_end,longitude_end,dpcapacity_end
0,2355134,2014,6,27,0,23,Subscriber,Male,2014-06-30 23:57:00,2014-07-01 00:07:00,...,131,Lincoln Ave & Belmont Ave,41.939365,-87.668385,15.0,303,Broadway & Cornelia Ave,41.945512,-87.645980,15.0
1,2355133,2014,6,27,0,23,Subscriber,Male,2014-06-30 23:56:00,2014-07-01 00:00:00,...,282,Halsted St & Maxwell St,41.864580,-87.646930,15.0,22,May St & Taylor St,41.869482,-87.655486,15.0
2,2355130,2014,6,27,0,23,Subscriber,Male,2014-06-30 23:33:00,2014-06-30 23:35:00,...,327,Sheffield Ave & Webster Ave,41.921687,-87.653714,19.0,225,Halsted St & Dickens Ave,41.919936,-87.648830,15.0
3,2355129,2014,6,27,0,23,Subscriber,Female,2014-06-30 23:26:00,2014-07-01 00:24:00,...,134,Peoria St & Jackson Blvd,41.877749,-87.649633,19.0,194,State St & Wacker Dr,41.887155,-87.627750,11.0
4,2355128,2014,6,27,0,23,Subscriber,Female,2014-06-30 23:16:00,2014-06-30 23:26:00,...,320,Loomis St & Lexington St,41.872187,-87.661501,15.0,134,Peoria St & Jackson Blvd,41.877749,-87.649633,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9495230,16734072,2017,10,39,6,0,Subscriber,Female,2017-10-01 00:01:00,2017-10-01 00:12:00,...,220,Hampden Ct & Diversey Pkwy,41.932620,-87.642385,23.0,87,Racine Ave & Fullerton Ave,41.925563,-87.658404,19.0
9495231,16734071,2017,10,39,6,0,Subscriber,Male,2017-10-01 00:01:00,2017-10-01 00:12:00,...,220,Hampden Ct & Diversey Pkwy,41.932620,-87.642385,23.0,87,Racine Ave & Fullerton Ave,41.925563,-87.658404,19.0
9495232,16734070,2017,10,39,6,0,Subscriber,Male,2017-10-01 00:01:00,2017-10-01 00:15:00,...,289,Wells St & Concord Ln,41.912133,-87.634656,19.0,226,Racine Ave & Belmont Ave,41.939743,-87.658865,15.0
9495233,16734067,2017,10,39,6,0,Subscriber,Female,2017-10-01 00:00:00,2017-10-01 00:06:00,...,288,Larrabee St & Armitage Ave,41.918084,-87.643749,11.0,289,Wells St & Concord Ln,41.912133,-87.634656,19.0
9495234,16734066,2017,10,39,6,0,Subscriber,Female,2017-10-01 00:00:00,2017-10-01 00:12:00,...,135,Halsted St & 21st St,41.853780,-87.646650,11.0,129,Blue Island Ave & 18th St,41.857556,-87.661535,15.0

In [5]:
data.describe()

,trip_id,year,month,week,day,hour,tripduration,temperature,from_station_id,latitude_start,longitude_start,dpcapacity_start,to_station_id,latitude_end,longitude_end,dpcapacity_end
count,9.495235e+06,9.495235e+06,9.495235e+06,9.495235e+06,9.495235e+06,9.495235e+06,9.495235e+06,9.495235e+06,9.495235e+06,9.495235e+06,9.495235e+06,9.495235e+06,9.495235e+06,9.495235e+06,9.495235e+06,9.495235e+06
mean,9.861173e+06,2.015737e+03,7.161242e+00,2.938068e+01,2.687387e+00,1.362471e+01,1.144686e+01,6.299990e+01,1.799215e+02,4.190017e+01,-8.764473e+01,2.138426e+01,1.807048e+02,4.190069e+01,-8.764496e+01,2.128447e+01
std,4.680018e+06,1.075629e+00,2.708379e+00,1.177941e+01,1.890345e+00,4.858830e+00,7.206061e+00,1.720086e+01,1.217041e+02,3.467450e-02,2.175210e-02,7.644496e+00,1.221144e+02,3.494946e-02,2.181374e-02,7.595932e+00
min,1.109427e+06,2.014000e+03,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,-1.500000e+01,2.000000e+00,4.173665e+01,-8.780287e+01,0.000000e+00,2.000000e+00,4.173665e+01,-8.780287e+01,0.000000e+00
25%,5.941660e+06,2.015000e+03,5.000000e+00,2.100000e+01,1.000000e+00,9.000000e+00,6.033333e+00,5.200000e+01,7.700000e+01,4.188103e+01,-8.765479e+01,1.500000e+01,7.700000e+01,4.188132e+01,-8.765549e+01,1.500000e+01
50%,1.005810e+07,2.016000e+03,7.000000e+00,3.000000e+01,3.000000e+00,1.500000e+01,9.633333e+00,6.690000e+01,1.640000e+02,4.189228e+01,-8.764107e+01,1.900000e+01,1.640000e+02,4.189384e+01,-8.764109e+01,1.900000e+01
75%,1.383260e+07,2.017000e+03,9.000000e+00,3.800000e+01,4.000000e+00,1.700000e+01,1.520000e+01,7.590000e+01,2.680000e+02,4.192008e+01,-8.763058e+01,2.300000e+01,2.730000e+02,4.192169e+01,-8.763058e+01,2.300000e+01
max,1.753670e+07,2.017000e+03,1.200000e+01,5.300000e+01,6.000000e+00,2.300000e+01,6.000000e+01,9.500000e+01,6.260000e+02,4.206431e+01,-8.754939e+01,5.500000e+01,6.260000e+02,4.206431e+01,-8.754939e+01,5.500000e+01

In [6]:
data["trip_id"]

0           2355134
1           2355133
2           2355130
3           2355129
4           2355128
             ...
9495230    16734072
9495231    16734071
9495232    16734070
9495233    16734067
9495234    16734066
Name: trip_id, Length: 9495235, dtype: int64

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9495235 entries, 0 to 9495234
Data columns (total 23 columns):
 #   Column             Dtype
---  ------             -----
 0   trip_id            int64
 1   year               int64
 2   month              int64
 3   week               int64
 4   day                int64
 5   hour               int64
 6   usertype           object
 7   gender             object
 8   starttime          object
 9   stoptime           object
 10  tripduration       float64
 11  temperature        float64
 12  events             object
 13  from_station_id    int64
 14  from_station_name  object
 15  latitude_start     float64
 16  longitude_start    float64
 17  dpcapacity_start   float64
 18  to_station_id      int64
 19  to_station_name    object
 20  latitude_end       float64
 21  longitude_end      float64
 22  dpcapacity_end     float64
dtypes: float64(8), int64(8), object(7)
memory usage: 1.6+ GB

In [8]:
data.columns

Index(['trip_id', 'year', 'month', 'week', 'day', 'hour', 'usertype', 'gender',
       'starttime', 'stoptime', 'tripduration', 'temperature', 'events',
       'from_station_id', 'from_station_name', 'latitude_start',
       'longitude_start', 'dpcapacity_start', 'to_station_id',
       'to_station_name', 'latitude_end', 'longitude_end', 'dpcapacity_end'],
      dtype='object')

In [9]:
data["events"]

0          tstorms
1          tstorms
2          tstorms
3          tstorms
4          tstorms
            ...
9495230     cloudy
9495231     cloudy
9495232     cloudy
9495233     cloudy
9495234     cloudy
Name: events, Length: 9495235, dtype: object

In [10]:
data["usertype"]

0          Subscriber
1          Subscriber
2          Subscriber
3          Subscriber
4          Subscriber
              ...
9495230    Subscriber
9495231    Subscriber
9495232    Subscriber
9495233    Subscriber
9495234    Subscriber
Name: usertype, Length: 9495235, dtype: object

In [11]:
data["usertype"].unique()

array(['Subscriber', 'Customer', 'Dependent'], dtype=object)

In [12]:
data["week"].unique()

array([27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11,
       10,  9,  8,  7,  6,  5,  4,  3,  2,  1, 31, 30, 29, 28, 40, 39, 38,
       37, 36, 35, 34, 33, 32, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42,
       41, 53], dtype=int64)

In [13]:
# this will give amount of each unique value 
data["week"].value_counts()

30    309631
31    307327
32    304286
34    291022
33    289279
29    288015
38    286354
28    284936
35    281250
26    279111
39    276485
25    276307
37    274913
23    271623
36    268179
24    265853
27    265553
40    250157
41    239413
42    236977
22    236001
21    216299
20    205441
43    201714
44    192547
45    192060
19    178501
18    170309
16    169861
46    160961
15    151660
17    148145
48    121933
49    110308
14    109154
12    107063
47    105549
50    103559
11    102597
13     99192
10     96500
51     92442
7      87040
8      83869
4      78123
5      74277
9      72647
3      67921
6      59121
1      49800
2      47473
52     46894
53      9603
Name: week, dtype: int64

In [14]:
# it gives you the number of rows of every unique value
data["gender"].value_counts()

Male      7116560
Female    2378675
Name: gender, dtype: int64

In [15]:
# to see which rows has value Male
data["gender"] == "Male"

0           True
1           True
2           True
3          False
4          False
           ...
9495230    False
9495231     True
9495232     True
9495233    False
9495234    False
Name: gender, Length: 9495235, dtype: bool

In [16]:
# If you wana just rows of the unique value then
data[data["gender"] == "Male"]

,trip_id,year,month,week,day,hour,usertype,gender,starttime,stoptime,...,from_station_id,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_id,to_station_name,latitude_end,longitude_end,dpcapacity_end
0,2355134,2014,6,27,0,23,Subscriber,Male,2014-06-30 23:57:00,2014-07-01 00:07:00,...,131,Lincoln Ave & Belmont Ave,41.939365,-87.668385,15.0,303,Broadway & Cornelia Ave,41.945512,-87.645980,15.0
1,2355133,2014,6,27,0,23,Subscriber,Male,2014-06-30 23:56:00,2014-07-01 00:00:00,...,282,Halsted St & Maxwell St,41.864580,-87.646930,15.0,22,May St & Taylor St,41.869482,-87.655486,15.0
2,2355130,2014,6,27,0,23,Subscriber,Male,2014-06-30 23:33:00,2014-06-30 23:35:00,...,327,Sheffield Ave & Webster Ave,41.921687,-87.653714,19.0,225,Halsted St & Dickens Ave,41.919936,-87.648830,15.0
5,2355127,2014,6,27,0,23,Subscriber,Male,2014-06-30 23:11:00,2014-06-30 23:17:00,...,332,Halsted St & Diversey Pkwy,41.933341,-87.648747,15.0,319,Greenview Ave & Diversey Pkwy,41.932595,-87.665939,15.0
6,2355126,2014,6,27,0,23,Subscriber,Male,2014-06-30 23:08:00,2014-06-30 23:13:00,...,174,Canal St & Madison St,41.882091,-87.639833,23.0,44,State St & Randolph St,41.884730,-87.627734,27.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9495227,16734075,2017,10,39,6,0,Subscriber,Male,2017-10-01 00:04:00,2017-10-01 00:10:00,...,229,Southport Ave & Roscoe St,41.943739,-87.664020,19.0,330,Lincoln Ave & Addison St,41.946176,-87.673308,19.0
9495228,16734074,2017,10,39,6,0,Subscriber,Male,2017-10-01 00:03:00,2017-10-01 00:37:00,...,71,Morgan St & Lake St,41.885483,-87.652305,23.0,61,Wood St & Milwaukee Ave,41.907655,-87.672552,19.0
9495229,16734073,2017,10,39,6,0,Subscriber,Male,2017-10-01 00:02:00,2017-10-01 00:12:00,...,245,Clarendon Ave & Junior Ter,41.961004,-87.649603,23.0,303,Broadway & Cornelia Ave,41.945529,-87.646439,23.0
9495231,16734071,2017,10,39,6,0,Subscriber,Male,2017-10-01 00:01:00,2017-10-01 00:12:00,...,220,Hampden Ct & Diversey Pkwy,41.932620,-87.642385,23.0,87,Racine Ave & Fullerton Ave,41.925563,-87.658404,19.0
9495232,16734070,2017,10,39,6,0,Subscriber,Male,2017-10-01 00:01:00,2017-10-01 00:15:00,...,289,Wells St & Concord Ln,41.912133,-87.634656,19.0,226,Racine Ave & Belmont Ave,41.939743,-87.658865,15.0

In [17]:
data.head(100)

,trip_id,year,month,week,day,hour,usertype,gender,starttime,stoptime,...,from_station_id,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_id,to_station_name,latitude_end,longitude_end,dpcapacity_end
0,2355134,2014,6,27,0,23,Subscriber,Male,2014-06-30 23:57:00,2014-07-01 00:07:00,...,131,Lincoln Ave & Belmont Ave,41.939365,-87.668385,15.0,303,Broadway & Cornelia Ave,41.945512,-87.645980,15.0
1,2355133,2014,6,27,0,23,Subscriber,Male,2014-06-30 23:56:00,2014-07-01 00:00:00,...,282,Halsted St & Maxwell St,41.864580,-87.646930,15.0,22,May St & Taylor St,41.869482,-87.655486,15.0
2,2355130,2014,6,27,0,23,Subscriber,Male,2014-06-30 23:33:00,2014-06-30 23:35:00,...,327,Sheffield Ave & Webster Ave,41.921687,-87.653714,19.0,225,Halsted St & Dickens Ave,41.919936,-87.648830,15.0
3,2355129,2014,6,27,0,23,Subscriber,Female,2014-06-30 23:26:00,2014-07-01 00:24:00,...,134,Peoria St & Jackson Blvd,41.877749,-87.649633,19.0,194,State St & Wacker Dr,41.887155,-87.627750,11.0
4,2355128,2014,6,27,0,23,Subscriber,Female,2014-06-30 23:16:00,2014-06-30 23:26:00,...,320,Loomis St & Lexington St,41.872187,-87.661501,15.0,134,Peoria St & Jackson Blvd,41.877749,-87.649633,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2354786,2014,6,27,0,20,Subscriber,Male,2014-06-30 20:21:00,2014-06-30 20:25:00,...,153,Southport Ave & Wellington Ave,41.935733,-87.663576,19.0,229,Southport Ave & Roscoe St,41.943739,-87.664020,19.0
96,2354785,2014,6,27,0,20,Subscriber,Male,2014-06-30 20:21:00,2014-06-30 20:25:00,...,153,Southport Ave & Wellington Ave,41.935733,-87.663576,19.0,229,Southport Ave & Roscoe St,41.943739,-87.664020,19.0
97,2354784,2014,6,27,0,20,Subscriber,Male,2014-06-30 20:21:00,2014-06-30 20:25:00,...,153,Southport Ave & Wellington Ave,41.935733,-87.663576,19.0,229,Southport Ave & Roscoe St,41.943739,-87.664020,19.0
98,2354779,2014,6,27,0,20,Subscriber,Male,2014-06-30 20:19:00,2014-06-30 20:25:00,...,337,Clark St & Chicago Ave,41.896544,-87.630931,19.0,289,Wells St & Concord Ln,41.912202,-87.634664,19.0
99,2354778,2014,6,27,0,20,Subscriber,Male,2014-06-30 20:18:00,2014-06-30 20:27:00,...,195,Columbus Dr & Randolph St,41.884728,-87.619521,31.0,91,Clinton St & Washington Blvd,41.883380,-87.641170,31.0

In [19]:
#if i need specific columns
data[["trip_id", "month", "day"]]

          trip_id  month  day
0         2355134      6    0
1         2355133      6    0
2         2355130      6    0
3         2355129      6    0
4         2355128      6    0
...           ...    ...  ...
9495230  16734072     10    6
9495231  16734071     10    6
9495232  16734070     10    6
9495233  16734067     10    6
9495234  16734066     10    6

[9495235 rows x 3 columns]

In [27]:
data[(data["gender" ] == 'Male') & (data['year'] == 2017)]

,trip_id,year,month,week,day,hour,usertype,gender,starttime,stoptime,...,from_station_id,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_id,to_station_name,latitude_end,longitude_end,dpcapacity_end
6537545,13518905,2017,3,13,4,23,Subscriber,Male,2017-03-31 23:59:07,2017-04-01 00:13:24,...,66,Clinton St & Lake St,41.885637,-87.641823,23.0,171,May St & Cullerton St,41.855136,-87.654127,11.0
6537546,13518904,2017,3,13,4,23,Subscriber,Male,2017-03-31 23:56:25,2017-04-01 00:00:21,...,199,Wabash Ave & Grand Ave,41.890912,-87.626804,15.0,26,McClurg Ct & Illinois St,41.891020,-87.617300,31.0
6537548,13518902,2017,3,13,4,23,Subscriber,Male,2017-03-31 23:54:46,2017-03-31 23:59:34,...,110,Dearborn St & Erie St,41.893992,-87.629318,23.0,142,McClurg Ct & Erie St,41.894503,-87.617854,31.0
6537550,13518900,2017,3,13,4,23,Subscriber,Male,2017-03-31 23:51:17,2017-03-31 23:55:19,...,143,Sedgwick St & Webster Ave,41.922167,-87.638888,15.0,289,Wells St & Concord Ln,41.912133,-87.634656,19.0
6537551,13518899,2017,3,13,4,23,Subscriber,Male,2017-03-31 23:51:16,2017-03-31 23:57:17,...,81,Daley Center Plaza,41.884241,-87.629634,39.0,41,Federal St & Polk St,41.872078,-87.629544,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9495227,16734075,2017,10,39,6,0,Subscriber,Male,2017-10-01 00:04:00,2017-10-01 00:10:00,...,229,Southport Ave & Roscoe St,41.943739,-87.664020,19.0,330,Lincoln Ave & Addison St,41.946176,-87.673308,19.0
9495228,16734074,2017,10,39,6,0,Subscriber,Male,2017-10-01 00:03:00,2017-10-01 00:37:00,...,71,Morgan St & Lake St,41.885483,-87.652305,23.0,61,Wood St & Milwaukee Ave,41.907655,-87.672552,19.0
9495229,16734073,2017,10,39,6,0,Subscriber,Male,2017-10-01 00:02:00,2017-10-01 00:12:00,...,245,Clarendon Ave & Junior Ter,41.961004,-87.649603,23.0,303,Broadway & Cornelia Ave,41.945529,-87.646439,23.0
9495231,16734071,2017,10,39,6,0,Subscriber,Male,2017-10-01 00:01:00,2017-10-01 00:12:00,...,220,Hampden Ct & Diversey Pkwy,41.932620,-87.642385,23.0,87,Racine Ave & Fullerton Ave,41.925563,-87.658404,19.0
9495232,16734070,2017,10,39,6,0,Subscriber,Male,2017-10-01 00:01:00,2017-10-01 00:15:00,...,289,Wells St & Concord Ln,41.912133,-87.634656,19.0,226,Racine Ave & Belmont Ave,41.939743,-87.658865,15.0

In [29]:
#This is another way to pass two conditions with multiple data 
years = [2017,2018,2019]
data[(data["gender"]=="Male") & (data["year"].isin(years))]

,trip_id,year,month,week,day,hour,usertype,gender,starttime,stoptime,...,from_station_id,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_id,to_station_name,latitude_end,longitude_end,dpcapacity_end
6537545,13518905,2017,3,13,4,23,Subscriber,Male,2017-03-31 23:59:07,2017-04-01 00:13:24,...,66,Clinton St & Lake St,41.885637,-87.641823,23.0,171,May St & Cullerton St,41.855136,-87.654127,11.0
6537546,13518904,2017,3,13,4,23,Subscriber,Male,2017-03-31 23:56:25,2017-04-01 00:00:21,...,199,Wabash Ave & Grand Ave,41.890912,-87.626804,15.0,26,McClurg Ct & Illinois St,41.891020,-87.617300,31.0
6537548,13518902,2017,3,13,4,23,Subscriber,Male,2017-03-31 23:54:46,2017-03-31 23:59:34,...,110,Dearborn St & Erie St,41.893992,-87.629318,23.0,142,McClurg Ct & Erie St,41.894503,-87.617854,31.0
6537550,13518900,2017,3,13,4,23,Subscriber,Male,2017-03-31 23:51:17,2017-03-31 23:55:19,...,143,Sedgwick St & Webster Ave,41.922167,-87.638888,15.0,289,Wells St & Concord Ln,41.912133,-87.634656,19.0
6537551,13518899,2017,3,13,4,23,Subscriber,Male,2017-03-31 23:51:16,2017-03-31 23:57:17,...,81,Daley Center Plaza,41.884241,-87.629634,39.0,41,Federal St & Polk St,41.872078,-87.629544,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9495227,16734075,2017,10,39,6,0,Subscriber,Male,2017-10-01 00:04:00,2017-10-01 00:10:00,...,229,Southport Ave & Roscoe St,41.943739,-87.664020,19.0,330,Lincoln Ave & Addison St,41.946176,-87.673308,19.0
9495228,16734074,2017,10,39,6,0,Subscriber,Male,2017-10-01 00:03:00,2017-10-01 00:37:00,...,71,Morgan St & Lake St,41.885483,-87.652305,23.0,61,Wood St & Milwaukee Ave,41.907655,-87.672552,19.0
9495229,16734073,2017,10,39,6,0,Subscriber,Male,2017-10-01 00:02:00,2017-10-01 00:12:00,...,245,Clarendon Ave & Junior Ter,41.961004,-87.649603,23.0,303,Broadway & Cornelia Ave,41.945529,-87.646439,23.0
9495231,16734071,2017,10,39,6,0,Subscriber,Male,2017-10-01 00:01:00,2017-10-01 00:12:00,...,220,Hampden Ct & Diversey Pkwy,41.932620,-87.642385,23.0,87,Racine Ave & Fullerton Ave,41.925563,-87.658404,19.0
9495232,16734070,2017,10,39,6,0,Subscriber,Male,2017-10-01 00:01:00,2017-10-01 00:15:00,...,289,Wells St & Concord Ln,41.912133,-87.634656,19.0,226,Racine Ave & Belmont Ave,41.939743,-87.658865,15.0

In [30]:
# Creating new column
data["Name"] = "sohail"

In [31]:
data["Name"]

0          sohail
1          sohail
2          sohail
3          sohail
4          sohail
            ...
9495230    sohail
9495231    sohail
9495232    sohail
9495233    sohail
9495234    sohail
Name: Name, Length: 9495235, dtype: object